<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Archives</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>

	<table>

		<tbody>
			<th>whereStored</th>
			<th>whatDocuments</th>
			<th>whenHandled</th>
			<th>Company</th>
			<tr th:each="archiveset: ${archivesets}">

				<td th:text="${archiveset.whereStored}"></td>
				<td th:text="${archiveset.whatDocuments}"></td>
				<td th:text="${archiveset.whenHandled}"></td>
				<td th:text="${archiveset.company.companyName}"></td>
				<td><a
					th:href="@{/archives/delete/{id}(id=${archiveset.archiveId})}"
					class="btn btn-danger">Delete</a></td>
				</td>
		</tbody>
	</table>
	<div>
		<a href="/archives/add" class="btn btn-primary">Add a new
			archiveset</a>
	</div>
	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
		</form>
	</div>
</body>
</html>