<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Archives</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
<div>
<a href="https://fearchivemapper.herokuapp.com/" class="btn btn-primary">Back to the list of records</a>
<a th:href="@{../archives/add}" class="btn btn-primary">Add a new record</a>
</div>    
</body>
</html>