<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>Archives</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div th:if="${param.logout}">
	You have been logged out.
	</div>
	<div th:if="${param.error}">Invalid username or password.</div>
	<form th:action="@{/login}" method="post">
		<div>
		<p>Hey there, to test adding the records, try logging in with credentials user/user</p>
		</div>
		<div>
			<label>Username: <input type="text" name="username" /></label>
		</div>
		<div>
			<label>Password: <input type="password" name="password" /></label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
	



</body>
</html>